<%- include('../partials/header') %>

<form action="/flights" method="POST">
    <label>Airline:
        <select name="airline">
            <option value="American">American</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
            <option value="Delta">Delta</option>
        </select>
    </label><br>
    <label>Airport:
        <select name="airport">
            <option value="DFW">DFW</option>
            <option value="ORD">ORD</option>
            <option value="LAX">LAX</option>
            <option value="JFK">JFK</option>
            <option value="ATL">ATL</option>
        </select>
    </label><br>
    <label>Flight #:
        <input type="number" name="flightNo">
    </label><br>
    <label>Departs:
        <input type="date" name="departs">
    </label><br>
    <button type="submit">Add Flight</button>
</form>



<%- include('../partials/footer') %>